<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/daruma">Daruma</a></li>
									<li><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li  class="active"><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>
		<!-- isi -->
		<div class="container">
			<h1>About us</h1>
			<div class="row">
				<div class="col-md-9">
					<!-- <div class="row">
						<div class="col-md-4">
							<img src="img/default.png" alt="default" class="gambar">
						</div><br>
						<div class="col-md-8">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div> -->
					<div>
						<h3><b>Sejarah UKM Nippon Bunka-Bu</b></h3>
						<p>Telkom University merupakan penggabungan dari beberapa institusi yang berada dibawah badan penyelenggara Yayasan Pendidikan Telkom (YPT) yaitu Institut Teknologi Telkom, Institut Manajemen Telkom, Politeknik Telkom dan Sekolah Tinggi Seni Rupa dan Desain Indonesia Telkom (STISI Telkom). Penggabungan ini melibatkan seluruh elemen di dalamnya, termasuk ormawa. Seluruh Ormawa yang berada di seluruh institusi harus digabungkan dengan Ormawa yang memiliki visi dan misi yang sama.</p><br>
						<p>Japan Genki Community (JGC) dan Houkiboshi adalah Ormawa yang menghimpun mahasiswa- mahasiswi di ITTelkom dan IMTelkom yang menyukai kebudayaan Jepang. Kyoukai dan Kyuden adalah komunitas yang berada di STISI Telkom dan Politeknik Telkom yang juga menghimpun mahasiswa – mahasiswi yang menyukai kebudayaan Jepang. Dengan terbentuknya Telkom University bersama peraturan – peraturan di dalamnya, perwakilan dari JGC, Houkiboshi, Kyouka dan Kyuden mengadakan beberapa kali rapat untuk menggabungkan Ormawa dan komunitas ini.</p><br>
						<p>Hasil dari rapat – rapat yang telah diadakan UKM dan Komunitas Jepang di Telkom University melahirkan sebuah ormawa baru yang kami beri nama “Nippon Bunka-bu” pada tanggal 22 April 2014 yang telah disepakati bersama. Nippon Bunka-bu ini diambil dari bahasa Jepang yang berarti kelompok kebudayaan Jepang.</p><br>
						<h3><b>Visi dan Misi</b></h3>
						<h4>Visi:</h4>
						<p>Membuat NBB sebagai UKM yang memiliki sumber daya manusia yang siap berkompetisi dan memberikan manfaat sosial baik untuk internal maupun eksternal NBB</p>
						<br>
						<h4>Misi:</h4>
						<ul>
							<li>Mewadahi seluruh kegiatan divisi peminatan dalam NBB</li>
							<li>Memperkenalkan budaya Jepang di dalam dan di luar NBB</li>
							<li>Berperan aktif dalam setiap kompetisi yang berhubungan dengan divisi peminatan di NBB</li>
						</ul><br>
						<h3><b>Struktur Organisasi</b></h3>
						<img src="img/struktur-organisasi-nbb.png" alt="struktur organisasi nbb" class="zoom-img"><br>
						<h3><b>Pengurus NBB 2017-2018</b></h3>
						<h4><b>Inti</b></h4>
						<ol>
							<li>Ketua : Elvan Haryo Nugroho</li>
							<li>SC : Randhy Sulistyo Budi</li>
							<li>Wakil Ketua I : Abdurrahman Prabaswara Sidi</li>
							<li>Wakil Ketua II : Rakhman Kurniadi</li>
							<li>Sekertaris I : Dahlia Raitana</li>
							<li>Sekertaris II : Nuha Azka</li>
							<li>Bendahara I : Frizt Ian Iqbal Sauqi</li>
						</ol>
						<h4><b>Koordinator Divisi Internal</b></h4>
						<ol>
							<li>Divisi Humas : Alfi Syahri Can</li>
							<li>Divisi Wirausaha : Nira Rizekhita Nara Rifarna</li>
							<li>Divisi Kominfo : Hafiz Fahmal</li>
							<li>Divisi Logistik : Iman M Eko</li>
							<li>Divisi SDM : Anugrah Ramadhan</li>
							<li>Event Organizer : Mokhamad Ilham Fadhillah</li>
						</ol>
						<h4><b>Koordinator Divisi Peminatan</b></h4>
						<ol>
							<li>Chameleon : Muhammad Yudhistira Pratama D.</li>
							<li>Daruma : Ilham Arun Faisal</li>
							<li>Design and Art : Agrafin Afif Krisnoputra</li>
							<li>Honnoukai : Ananta Rai Bhaskara Gelung Sakti</li>
							<li>Mochi Anima : Desca Nur Shadrina Nugraha</li>
							<li>Toys and TCG : Heru Kurniawan</li>
							<li>Vocality : Muhammad Alfin Sahri Ramdany</li>
						</ol>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="block-sdw">
						
					</div>
				</div>
			</div>
		</div>

		<% include part/footer %>