<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li class="active"><a href="/daruma">Daruma</a></li>
									<li><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>
		<!-- isi -->
		<div class="container">
			<h1>Divisi Peminatan Daruma</h1>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<img src="img/daruma.png" alt="logo daruma" class="gambar">
						</div><br>
						<div class="col-md-8">
							<p>Daruma adalah sebuah divisi peminatan yang ada di UKM (Unit Kegiatan Mahasiswa) NBB (Nippon Bunka Bu) yang mewadahi mahasiswa dan mahasiswi Telkom University untuk bisa lebih mengenal tentang Bahasa dan Budaya di Jepang. Divisi ini memiliki 4 sub divisi  dimana setiap sub divisi itu sendiri mempunyai kegiatannya masing-masing, yaitu:</p>
						</div>
					</div>
					<div>
						<h3><b>Bahasa</b></h3>
						<p>Sub divisi bahasa mempunyai kegiatan yaitu berupa belajar tentang Bahasa jepang, seperti belajar hiragana, katakana, kanji dan pola kalimat yang biasa digunakan.</p>
						<br>
						<h3><b>Budaya</b></h3>
						<p>Sub Divisi budaya mempunyai kegiatan seperti, membuat shuji/shodo, bermain shogi (catur jepang), membuat teh ala jepang, memakai yukata dan budaya di jepang kita bahas pada kegiatan di sub divisi budaya ini. Prestasi : Juara 3 Shuji</p>
						<br>
						<h3><b>Odori</b></h3>
						<p>Sub divisi odori merupakan sub divisi yang bertujuan mempelajari tarian-tarian yang ada di jepang, bisa berupa tarian tradisional ataupun tarian modern, di sub divisi ini bukan hanya mempelajari tariannya saja dong, kita harus berani untuk tampil juga dimana nanti kita menampilkan tariannya di event yang diadakan Telkom atau bisa keluar Telkom juga, contoh tarian tradisional yang di pelajari pada sub divisi odori yaitu soran bushi, senbonzakura, dll</p>
						<br>
						<h3><b>Intermezzo</b></h3>
						<p>Sub divisi intermezzo meliputi kegiatan-kegiatan untuk melepas penat para anggota, di sini biasanya kita bisa mengadakan cooking class, yaitu kegiatan memasak masakan jepang Bersama, RADAR (Radio Daruma) di sini kita bisa curhat, membahas suatu topik yang berhubungan dengan jepang, dan mendengarkan lagu yang di bawakan oleh seorang penyiar</p>
						<br>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="block-sdw">
						
					</div>
				</div>
			</div>
		</div>

		<% include part/footer %>