<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/daruma">Daruma</a></li>
									<li><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li class="active"><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>
		<!-- isi -->
		<div class="container">
			<h1>Divisi Peminatan Design and Art (DnA)</h1>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<img src="img/DNA.png" alt="logo daruma" class="gambar">
						</div><br>
						<div class="col-md-8">
							<p>Design And Art atau yang lebih dikenal dengan DNA adalah salah satu divisi di bawah naungan UKM Nippon Bunka-Bu Telkom University yang berfokus pada bidang seni, desain & permainan interaktif. Dibentuk pada tahun 2010 di Telkom University oleh beberapa mahasiswa Telkom University yang memiliki hobi yang sama yaitu menggambar manga & komik. Setelah bergabung dengan UKM Nippon Bunka-Bu Telkom University dan menjadi salah satu divisi yang ada di bawahnya, Design And Art-pun menggagas tiga projek  besar yaitu 3A yang berupa Artwork, Art Drop & Art Gallery. Walaupun Design And Art ada dibawah naungan UKM Nippon Bunka-Bu yang merupakan UKM Jepang, ini tidak membuat genre/style yang ada pada artwork Design And Art hanya berfokus kepada manga/anime Jepang. Genre artwork di dalam DNA bersifat universal.</p><br>
							<p>Design And Art memiliki 4 target besar, yaitu :</p>
						</div>
					</div>
					<div>
						<h3><b>Artwork</b></h3>
						<p>Artwork, yaitu sesi pensubmittan karya yang berupa ilustrasi, komik, maupun visual art lainnya berdasarkan tema tertentu dan dipost di media sosial dengan tujuan untuk mengasah skill dan memotivasi para anggota.</p>
						<br>
						<h3><b>Art Drop</b></h3>
						<p>Art Drop, yaitu kegiatan pensubmittan karya yang berupa ilustrasi, komik, maupun visual art lainnya berdasarkan tema tertentu yang dilakukan di dalam maupun luar kampus dan dibagikan kepada masyarakat sebagai ajang eksplorasi serta pengenalan Design And Art kepada publik.</p>
						<br>
						<h3><b>Art Gallery</b></h3>
						<p>Art Gallery, yaitu kegiatan tahunan berupa pameran karya yang dilakukan di dalam maupun luar kampus sebagai bentuk apresiasi terhadap para anggota serta memperkenalkan Design And Art kepada publik.</p>
						<br>
						<h3><b>DNA Fest</b></h3>
						<p>DNA Fest sendiri adalah sebuah festival industri kreatif yang berisi bazaar, workshop, dan art gallery sebagai bentuk apresiasi terhadap para artist maupun komunitas dalam industri kreatif Dan juga sebagai ajang mereka untuk saling silaturahmi. Sekarang DNA Fest telah memasuki tahun ketiga-nya dan akan dilaksanakan pada bulan November 2018 nanti.</p>
						<br><br>
						<p>Selain 3 target besar diatas, Design And Art juga memiliki kegiatan - kegiatan rutin lainnya seperti gathering, kelas peminatan (ilustrasi, komik, digital game & board game), workshop, mengikuti lomba, berkunjung ke event - event seni dan desain, makrab serta charity.</p><br>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="block-sdw">
						
					</div>
				</div>
			</div>
		</div>

		<% include part/footer %>