<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/daruma">Daruma</a></li>
									<li><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li class="active"><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>
		<!-- isi -->
		<div class="container">
			<h1>Event Organizer</h1>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<img src="img/default.png" alt="default" class="gambar">
						</div><br>
						<div class="col-md-8">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
					<div>
						<h3><b>Lorem Ipsum</b></h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<br>
						<h3><b>Lorem Ipsum</b></h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<br>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="block-sdw">
						
					</div>
				</div>
			</div>
		</div>

		<% include part/footer %>