<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/daruma">Daruma</a></li>
									<li><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>

	<div class="">
	  	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	    	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      	<li data-target="#myCarousel" data-slide-to="1"></li>
	      	<li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>

	    <!-- Wrapper for slides -->
	    <div class="carousel-inner">

	      	<div class="item active">
	        	<img src="img/MAKRAB_NBB.jpg" alt="Los Angeles" style="width:100%; height: 600px;">
	        	<div class="carousel-caption">
	          		<h3>Makrab NBB 2018</h3>
	          		<p>Akrab bersama pengurus NBB</p>
	        	</div>
	      	</div>

	      	<div class="item">
	        	<img src="img/Daruma.jpg" alt="Chicago" style="width:100%; height: 600px;">
	        	<div class="carousel-caption">
	          		<h3>Daruma 2018</h3>
	          		<p>Thank you, Daruma!</p>
	        	</div>
	      	</div>
	    
	      	<div class="item">
	        	<img src="img/megumin.jpg" alt="New York" style="width:100%; height: 600px;">
	        	<div class="carousel-caption">
	         		<h3>Megumin</h3>
	          		<p>Megumin, the best waifu!</p>
	        	</div>
	      	</div>
	  
	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	      	<span class="glyphicon glyphicon-chevron-left"></span>
	      	<span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">
	      	<span class="glyphicon glyphicon-chevron-right"></span>
	      	<span class="sr-only">Next</span>
	    </a>
	  	</div>
	</div>

	<!-- isi -->
	<div class="bot">
		<div class="content container">
			<h1><u>Divisi Peminatan</u></h1>
			<div class="row">
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>Daruma</h2>
					<a href="/daruma" title=""><img src="img/daruma.png" alt="logo daruma" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>TnT</h2>
					<a href="/tnt" title=""><img src="img/tnt.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>Chameleon</h2>
					<a href="/chameleon" title=""><img src="img/chame.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>DnA</h2>
					<a href="/dna" title=""><img src="img/DNA.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>Mochi Anima</h2>
					<a href="/mochi" title=""><img src="img/mocha.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>Vocality</h2>
					<a href="/vocality" title=""><img src="img/VLT.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>Honoukai</h2>
					<a href="/honukai" title=""><img src="img/honoukai.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
				<div class="col-md-3 col-sm-6 bar" align="center">
					<h2>EO</h2>
					<a href="/eo" title=""><img src="img/default.png" alt="megumin :*" class="bar-img"></a><br>
				</div>
			</div><br>
		</div>
	</div>
	<!-- isi -->
	<div class="">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h3>NBB Today</h3><hr>
					<div class="post">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<img src="img/default.png" alt="post" class="post-img">
							</div>
							<div class="col-md-9 col-sm-9">
								<h4>Lorem Ipsum</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<p align="right"><a href="#">read more</a></p>
							</div>
						</div>
					</div>
					<div class="post">
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<img src="img/default.png" alt="post" class="post-img">
							</div>
							<div class="col-md-9 col-sm-9">
								<h4>Lorem Ipsum</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<p align="right"><a href="#">read more</a></p>
							</div>
						</div>
					</div>
					<div align="right">
						<a href="#" title="see-more">see more. . .</a>
					</div><br>
				</div>
				<div class="col-md-5">
					<h3>Follow us:</h3><hr>
					<div class="row">
						<div class="col-md-2 col-sm-2">
							<p>Instagram</p>
							<p>LINE</p>
							<p>Facebook</p>
						</div>
						<div class="col-md-4 col-sm-4" >
							<p><a href="#" class="bf">: @nipponbunkabu</a></p>
							<p><a href="#" class="bf">: @nipponbunkabu</a></p>
							<p><a href="#" class="bf">: @nipponbunkabu</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- end isi -->
    <% include part/footer %>