<% include part/header %>
<div class="all">

		<div class="navigasi">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					   <div class="navbar-header">
						<a class="navbar-brand" href="/">Nippon Bunka-Bu</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">Divisi<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/daruma">Daruma</a></li>
									<li class="active"><a href="/tnt">TnT</a></li>
									<li><a href="/chameleon">Chameleon</a></li>
									<li><a href="/dna">DnA</a></li>
									<li><a href="/mochi">Mochi Anima</a></li>
									<li><a href="/vocality">Vocality</a></li>
									<li><a href="/honoukai">Honoukai</a></li>
									<li><a href="/eo">EO</a></li>
									</ul>
						</li>
						<li><a href="/about">About</a></li>
						  <!-- <li><a href="dokumentasi.html">Dokumentasi</a></li>
						  <li><a href="join.html">Bergabung</a></li> -->
					</ul>
				  </div>
			</nav>
		</div>
		<!-- isi -->
		<div class="container">
			<h1>Divisi Peminatan Toys and Trading Card (TnT)</h1>
			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<img src="img/tnt.png" alt="logo daruma" class="gambar">
						</div><br>
						<div class="col-md-8">
							<p>TNT merupakan salah satu divisi minat bakat yang berada dibawah naungan nbb yang bergerak dibidang Toys dan TCG, TNT sendiri bertujuan dalam mengembangkan hobby yang dimiliki anggotanya untuk dapat berkompetisi di bidangnya masing masing. TNT itu sendiri ada gath mingguan buat toys dan tcg. Berikut penjelasan tiap bidangnya:</p>
						</div>
					</div>
					<div>
						<h3><b>Toys</b></h3>
						<p>Pada gath kita akan diberikan materi mengenai bagaimana cara mengcustom, melakukan fotografi toys, serta cara perawatannya.</p>
						<br>
						<h3><b>Trading Card</b></h3>
						<p>Pada gath TCG pertemuannya berisikan pertandingan kecil dimana tiap anggota akan diasah kemampuannya untuk siap berkompetisi di luar.</p>
						<br>
					</div>	
				</div>
				<div class="col-md-3">
					<div class="block-sdw">
						
					</div>
				</div>
			</div>
		</div>

		<% include part/footer %>